*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:black;
    font-family:monospace;

    user-select:none;
    -webkit-user-select:none;
}

canvas{
    display:block;
    image-rendering:pixelated;
}

#menu,
#pauseMenu,
#skillUnlock,
#upgradeScreen,
#gameOverMenu{

    position:absolute;
    inset:0;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,0.92);

    z-index:20;
}

#pauseMenu,
#skillUnlock,
#upgradeScreen,
#gameOverMenu{
    display:none;
}

h1{
    color:#bb353b;
    font-size:72px;

    margin-bottom:20px;

    text-shadow:
    0 0 15px #bb353b,
    0 0 35px #506cb5;

    pointer-events:none;
}

.menu-btn{

    width:260px;

    padding:15px;

    margin:10px;

    border:none;

    cursor:pointer;

    background:#111;

    border:2px solid #bb353b;

    color:white;

    font-size:18px;
}

#dialogue{

    position:absolute;

    left:50%;
    bottom:20px;

    transform:translateX(-50%);

    width:80%;

    padding:20px;

    background:rgba(0,0,0,0.92);

    border:2px solid #bb353b;

    color:white;

    display:none;

    z-index:30;
}